.viewport {
	font-family: arial, sans-serif;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}
ul	{
	list-style-type: none;
	padding: 0;
}
li {
	float: right;
}
li a {
	color: #5F3F3F;
	margin: 9px;
	text-decoration: none;
}
li a:hover {
	text-decoration: underline;
}
.appicon {
	background-image: url(../images/icons.png);
	background-position: -136px -42px;
	background-repeat: no-repeat;
	background-size: 528px 68px;
	opacity: 0.5;
	padding: 2px 11px 3px 11px;
}
.appicon:hover {
	opacity: 1;
	}
.bellicon {
	background-color: black;
	background-image: url(../images/bell.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	border-radius: 100%;
	padding: 1px 9px;
}
.top-menu {
	margin-bottom: 75px;
}
.searchbox {
	margin: auto;
	max-width: 500px;
	padding-top: 190px;
	}
.fill {
	width: 100%;
}
.icon {
	display: block;
	margin: auto;
}
.searchinput {
	background-color: white;
	border: 1px solid #E6E6E6;
	box-shadow: 1px 1px 3px #E6E6E6;
	color: black;
	padding: 15px;
}
.button-box {
	padding: 30px 0 10px 0;
	text-align: center;
}
.buttons {
	background: linear-gradient(to bottom,whitesmoke,#f1f1f1);
	border: 1px solid white;
	border-radius: 3px;
	color: grey;
	font-size: 13px;
	font-weight: 700;
	margin: 0 8px 0 8px;
	padding: 10px 30px;
}
.buttons:hover {
	border: 1px solid lightgrey;
	color: black;
}
.footer {
	background-color: #E4E4E4;
	bottom:0;
	left: 0;
	position: fixed;
	width: 100%;
}
.bleft {
	float: left;
}
.bright {
	float: right;
}
